[Unit]
Description=carspeed speed recording script
After=network.target

[Service]
User=pi
Restart=always
WorkingDirectory=/home/pi/CarSpeed
#ExecStart=/bin/bash /home/pi/carspeedservice.sh
ExecStart=/home/pi/env/bin/python /home/pi/CarSpeed/carspeedWorks.py headless --config monitoringarea_default.csv
KillMode=process
ExecStop=/bin/kill -HUP $MAINPID
StartLimitIntervalSec=10

[Install]
WantedBy=multi-user.target

