# location to monitor
upper_left_x: 0
upper_left_y: 0
lower_right_x: 1024
lower_right_y: 576

# distance-to-road in meter
l2r_distance: 17
r2l_distance: 15

# minimum speed for saving records
min_speed: 15
# minimum speed for saving images
min_speed_alert : 40
# what the smallest area to consider saving
min_area: 2000
# what the minimum percentage confidence to consider saving records
min_confidence: 70
# what the minimum percentage confidence to consider sending an alert
min_confidence_alert: 70
# threshold of events to ignore
min_distance: 0.4

# field of view
fov: 62.2
# frames per second
fps: 30
# resolution
image_width: 1024
image_height: 576
# what the smallest area to detect is
image_min_area: 500

# communication
# leave telegram_token and telegram_chat_id empty to disable telegram support
telegram_token: "ABC:DEF"
# person/group to send the message to
telegram_chat_id: "123456789"
# hours between updates
telegram_frequency: 6

# unit system
units: "metric"
